<%= form_with model: @ship do |form| %>
  <div class="field">
    <%= form.label :name, '艦名' %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :camp, '所属' %>
    <%= form.text_field :camp %>
  </div>
  <div class="field">
    <%= form.label :rarity, 'レアリティ' %>
    <%= form.text_field :rarity %>
  </div>
  <div class="field">
    <%= form.label :ship_type, '艦種' %>
    <%= form.text_field :ship_type %>
  </div>
  <div class="field">
    <%= form.label :fleet_position, 'ポジション' %>
    <%= form.text_field :fleet_position %>
  </div>
  <div class="field">
    <%= form.label :introduction, 'キャラ詳細' %>
    <%= form.text_field :introduction %>
  </div>
  <div class="submit_field">
    <%= form.submit submit_name %>
  </div>
<% end %>