<%= form_with model: @unit do |form| %>
  <div class="field">
    <%= form.label :name, '艦隊名' %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :category, '艦隊タイプ' %>
    <%= form.text_field :category %>
  </div>
  <div class="field">
    <%= form.label :vanguard_left, '前衛(左)' %>
    <%= form.collection_select :vanguard_left, @scout, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :vanguard_center, '前衛(中央)' %>
    <%= form.collection_select :vanguard_center, @scout, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :vanguard_right, '前衛(右)' %>
    <%= form.collection_select :vanguard_right, @scout, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :mainstay_left, '主力(左)' %>
    <%= form.collection_select :mainstay_left, @main, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :mainstay_center, '主力(中央)' %>
    <%= form.collection_select :mainstay_center, @main, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :mainstay_right, '主力(右)' %>
    <%= form.collection_select :mainstay_right, @main, :id, :name, include_blank: '艦を選択' %>
  </div>
  <div class="field">
    <%= form.label :comment, '特徴/コメント' %>
    <%= form.text_field :comment %>
  </div>
  <div class="submit_field">
    <%= form.submit submit_name %>
  </div>
<% end %>
